@media (max-width: 768px) {
    .about-content {
        position: relative;
        flex-direction: column;
    }
    .about-text{
        width: 90vw;
        min-height: 300px;
        margin-top: 40px;
    }
    .about-image {
        margin-top: 0;
        justify-content: center;
        align-items: center;
        width: 70vw;
        height: auto;
    }
}
@media (min-width: 769px) {
    .about-content {
        flex-direction: row;
    }
    .about-text{
        width: 50vw;
        min-height: 350px;
    }
    .about-image {
        width: 40vw;
        height: auto;
    }
}
