@import url("https://fonts.googleapis.com/earlyaccess/hannari.css");
@import url("./../../font/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #2b2b2b;
  --background-color: #ffffff;
  --header-background-color: #ffffff;
  --link-hover-color: #00afff;
  --blue-color: #7dd3fc;
  --blue-color-alt: #7dd3fc;
  --text-color: #000000;
  --hover-color: #00afff;
  --hamburger-icon-color: #000000;
  --footer-background-color: #ffffff;
  --menu-bar-color: #ffffff;
  --x-icon-filter: none;
  --menu-border-color: #505050;
}

.dark-mode {
  --foreground-color: #ffffff;
  --background-color: #313131;
  --header-background-color: #232323;
  --link-hover-color: #ffcc99;
  --blue-color: #313131;
  --blue-color-alt: #ffb75d;
  --text-color: #ffffff;
  --hover-color: #ffcc99;
  --hamburger-icon-color: #ffffff;
  --footer-background-color: #2b2b2b;
  --menu-bar-color: #232323;
  --menu-border-color: #888888;
  --x-icon-filter: invert(1);
}


.header {
  background-color: var(--header-background-color);
}

body {
  background-color: var(--header-background-color);
  color: var(--text-color);
}

.body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden; /* 不要なスクロールを防ぐ */
}

footer {
  background-color: var(--footer-background-color);
}

a:hover {
  color: var(--hover-color);
}

.bg-blue-300 {
  background-color: var(--blue-color);
}

.bg-blue-400 {
  background-color: var(--blue-color-alt);
}

.text-blue-300 {
  color: var(--blue-color);
}

.text-blue-400 {
  color: var(--blue-color-alt);
}

.menu-border {
  border-color: var(--menu-border-color) !important;
}

.menu-bar {
  background-color: var(--menu-bar-color);
}

.x-icon {
  filter: var(--x-icon-filter);
}

.dark .hamburger-icon {
  background-color: var(--background-color);
}

.nextButton:hover {
  color: var(--link-hover-color);
}

*{
  scroll-margin-top: 7rem; /* ヘッダーの高さ分だけマージンを追加 */
}

html {
  scroll-behavior: smooth;
}

/* スマホ以下 */
@media (max-width: 428px) {
.nav-bar {
  display: none;

}
}



/* スマホより大きい（小さめ表示)*/
@media (min-width: 428px) {
  .cac-logo{
    width: 100px;
  }
  .dark-switch{
    font-size: 16px;
  }
  .header{
    padding: 20px;
  }
}

/* 大きいタブレットより大きい（大きめ表示） */
@media (min-width: 1280px) {
  .nav-bar{
    display: block !important;
  }

}


/* タブレット用（横向き表示の時） */
@media (max-width: 960px) and (min-height: 1280px) {
  .menu-bar{
    display: none;
  }
  .header{
    display: none;
  }
}

/* タブレット用（縦向き表示の時） */
@media (max-width:1280px) and (min-height:960px) {

}


/* スマホ（横向き表示の時（高さ不足）) */
@media (max-height: 500px) {
  .menu-bar{
    display: none;
  }
  .header{
    display: none;
  }
}






