@import url("https://fonts.googleapis.com/earlyaccess/hannari.css");
@import url("./../../font/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color:repeating-linear-gradient(45deg, #51e6ff, #51e6ff 200px, #ffffff 200px, #ffffff 548px, #51e6ff 548px, #51e6ff 558px, #ffffff 558px, #ffffff 568px);
  --header-background-color: #ffffff;
  --footer-background-color: #ffffff;
  --link-hover-color: #00afff;
  --blue-color: #c8eeff;
  --blue-color-alt: #7dd3fc;
  --text-color: #3b3b3b;
  --hover-color: #00afff;
  --hamburger-icon-color: #000000;
  --menu-bar-color: #ffffff;
  --x-icon-filter: none;
  --menu-border-color: #505050;
  --over-lay:rgba(255, 255, 255, 0.9);
  --card: #ffffff;
  --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.dark-mode {
  --background-color: #313131;
  --header-background-color: #232323;
  --link-hover-color: #ffcc99;
  --footer-background-color: #2b2b2b;
  --blue-color: #ffb75d;
  --blue-color-alt: #ffb75d;
  --text-color: #ffffff;
  --hover-color: #ffcc99;
  --hamburger-icon-color: #ffffff;
  --menu-bar-color: #232323;
  --menu-border-color: #888888;
  --x-icon-filter: invert(1);
  --over-lay:rgba(255, 255, 255, 0);
  --card: #252525;
  --box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
}


.header {
  background-color: var(--header-background-color);
}

.body {
  background-color: var(--background-color);
  color: var(--text-color) !important;
  overflow: hidden; /* 不要なスクロールを防ぐ */
}

footer {
  background-color: var(--footer-background-color);
}

a:hover {
  color: var(--hover-color);
}


.connector-color-dark {
    background-color: var(--blue-color);
}

.border-color-dark{
 background-color: var(--blue-color-alt);
}

.menu-border {
  border-color: var(--menu-border-color) !important;
}

.menu-bar {
  background-color: var(--menu-bar-color);
}

.x-icon {
  filter: var(--x-icon-filter);
}

.timeline-item {
  background-color: var(--card);
  box-shadow: var(--box-shadow);
}


.nextButton:hover {
  color: var(--link-hover-color);
}

*{
  scroll-margin-top: 7rem; /* ヘッダーの高さ分だけマージンを追加 */
}

html {
  scroll-behavior: smooth;
}


/* body全体の設定 */
.body {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* 背景パターンの設定 */
.stripe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  opacity: 1; /* 背景パターンの透明度 */
  z-index: 0;
}

/* 半透明のオーバーレイ（stripe要素の中に重ねる） */
.stripe::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--over-lay); /* 半透明の白色 */
  pointer-events: none; /* クリックイベントを透過 */
  z-index: 1;
}

/* メインコンテンツのスタイル */
.description-main {
  position: relative;
  z-index: 3;
}






