@media (max-width: 768px) {
    .about-content {
        position: relative;
        flex-direction: column;
    }
    .about-text{
        width: 90vw;
        height: 400px;
        will-change: transform, opacity;
    }
    .about-image {
        margin-top: 0;
        justify-content: center; /* 画像の中央揃え */
        align-items: center; /* 画像を上下中央揃え */
        width: 70vw;
        height: auto;
    }
}
@media (min-width: 769px) {
    .about-content {
        flex-direction: row;
    }
    .about-text{
        width: 50vw;
        height: 400px;
    }
    .about-image {
        width: 40vw;
        height: auto;
    }
}
