
/*スマホ*/
@media (max-width: 428px) {
    .location-title{
        font-size: 10vw;
    }
    .date{
        font-size: 8vw;
    }
    .date-content{
        margin-left: 3.5vw;
        margin-right: 3.5vw;
    }
    .top-m{
        padding-top: 8vw;
    }
    .place{
        font-size: 6vw;
    }
}

/* スマホ（横向き表示の時（高さ不足）) */
@media (max-height: 428px){
    .top-m{
        padding-top: calc(var(--svh, 1svh) * 10);
    }
}
