@import url("https://fonts.googleapis.com/earlyaccess/hannari.css");

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    --vh: 1vh;
}
/*スマホ*/
@media (max-width: 428px) {
    .google .welcome {
        height: calc(var(--vh)*100);

    }

    .google .cac-cat {
        position: absolute ;
        top:  calc(var(--vh)*15);
        margin-left: 20vw;
        height:  calc(var(--vh)*60);
        width:auto;

    }

    .google .cac-logoL {
        position: absolute;
        bottom:  calc(var(--vh)*5);
        height:  calc(var(--vh)*13);
        width: auto;
    }

    .safari .welcome {
        height: 100svh;
    }

    .safari .cac-cat {
        position: absolute ; /* レイアウト調整 */
        top: 12svh;
        margin-left: 20vw;
        height: 60vh;
        width: auto;

    }

    .safari .cac-logoL {
        position: absolute;
        bottom: 5svh;
        height: 13svh;
        width: auto;
    }

}

/* 横向き(Googleからのスマホ・タブレットアクセスを除く)*/
@media (min-width:428px) and (min-aspect-ratio: 4/3) {
    .welcome {
        height: 100vh;
    }

    .cac-cat {
        position: absolute;
        top: 10vh;
        margin-left: 5vw;
        height: 65vh;
        width: auto;

    }

    .cac-logoL {
        position: absolute;
        bottom: 5vh;
        height: 18vh;
        width: auto;
    }

}

/* タブレット用（縦向き表示の時） */
@media (max-width:1280px) and (min-height:768px) and (orientation: portrait) {
    .welcome {
        height: 60svh;
    }

    .cac-cat {
        position: absolute;
        top: 7svh;
        margin-left: 7vw;
        height: 35svh;
        width: auto;

    }

    .cac-logoL {
        position: absolute;
        bottom: 5svh;
        height: 10svh;
        width: auto;
    }
}


/* スマホ（横向き表示の時（高さ不足）) */
@media (max-height: 428px){
    .google .welcome {
        height: calc(var(--vh)*100);

    }

    .google .cac-cat {
        position: absolute ;
        top:  calc(var(--vh)*5);
        margin-left: 5vw;
        height:  calc(var(--vh)*65);
        width:auto;

    }

    .google .cac-logoL {
        position: absolute;
        bottom:  calc(var(--vh)*5);
        height:  calc(var(--vh)*20);
        width: auto;
    }
}

/* タブレット用（横向き表示の時） */
@media (min-width:1024px) and (max-height:960px) and (orientation: landscape) {
    .tablet.google .welcome {
        height: calc(var(--vh)*100);
    }

    .tablet.google .cac-cat {
        position: absolute;
        top: calc(var(--vh)*10);
        margin-left: 5vw;
        height: calc(var(--vh)*65);
        width: auto;

    }

    .tablet.google .cac-logoL {
        position: absolute;
        bottom: calc(var(--vh)*5);
        height: calc(var(--vh)*20);
        width: auto;
    }
}
